.promo {
    margin-bottom: 146px;
}

.promo__content {
    display: flex;
    column-gap: 897px;
}

.promo__text {
    color: #EFEFEF;
    font-family: Gilroy;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}